name: Mirroring

on:
  push:
    branches:
      - main

jobs:
  to_bitbucket:
    runs-on: ubuntu-latest
    steps:                                            
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@bitbucket.org:punk-domains/modechat-id-frontend.git
          ssh_private_key:                            
            ${{ secrets.BITBUCKET_SSH_PRIVATE_KEY }}

  to_gitlab:
    runs-on: ubuntu-latest
    steps:                                            
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@gitlab.com:punk-domains/modechat-id-frontend.git
          ssh_private_key:                             
            ${{ secrets.BITBUCKET_SSH_PRIVATE_KEY }}